[submodule "externals/alure"]
	path = externals/alure
	url = https://github.com/LAGonauta/alure
	branch = hasLoopPoints
[submodule "externals/picojson"]
	path = externals/picojson
	url = https://github.com/kazuho/picojson/
[submodule "externals/MetaHookSv"]
	path = externals/MetaHookSv
	url = https://github.com/hzqst/MetaHookSv
[submodule "externals/libsndfile-fork"]
	path = externals/libsndfile-fork
	url = https://github.com/hzqst/libsndfile-fork
[submodule "externals/openal-soft-fork"]
	path = externals/openal-soft-fork
	url = https://github.com/hzqst/openal-soft-fork
